<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/registro/nuevo" routerLinkActive="active">Nuevo Registro</a></li>
    <li><a routerLink="/registro/listar-todos" routerLinkActive="active">Listar Registros</a></li>
    <li><a routerLink="/registro/buscar" routerLinkActive="active">Busqueda por Id</a></li>
    <li><a routerLink="/registro/buscar/:search" routerLinkActive="active">Busqueda personalizada</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>